<!doctype html>
<html>
<head>
 <meta charset="utf-8" />
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
 <link rel="stylesheet" href="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.css"/>
 <title>ほしいものリスト</title>
<body>
  <div class="content-wrapper">
    <div class="container-fluid">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'homepage' %}">HOME</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'expense:expense_list' %}">支出一覧表示</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'expense:expense_analyse' %}">支出合計金額推移</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'income:income_list' %}">収入一覧表示</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'income:income_analyse' %}">収入合計金額推移</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'wishing:wishing_list' %}">ほしいものリスト</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'trophy:trophy_list' %}">トロフィー</a>
        </li>
      </ol>
 {% block content %}
 {% endblock %}
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
 <script src="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>

<!--jQueryでテーブルの検索、ページング、ソート、件数切り替え機能を実装-->
 <script>
    jQuery(function($){
      $.extend( $.fn.dataTable.defaults, {
          language: {
              url: "http://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Japanese.json"
              }
              });
      $("#wishing_list").DataTable({
          "searching": true,
          "paging":   true,
          "ordering": true,
          "lengthChange": true,
          }).columns.adjust().draw();
          });
 </script>
</body>
</html>
